# internal
.DS_Store
.vscode/

# dummy header
machine.h
reg3052.h
def_monitor_printf.h

# HEW object files
*.h8c
*.lst
*.obj

# HEW Internal file
*.hdp
*.tmp
*.abs
*.h8g
*.hlk
*.lib
*.map
*.mot
*.tps
*.nav
*.hwp
*.hsf


